@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500&family=Hahmlet:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font: inherit;
}
:root {
    font-family: 'Epilogue';
}
body {
    overflow: hidden;
}