$offset-from-top: -73px; 

.auto-scroll {
    position: relative;
    height: 100vh;
    background: #161616;
    color: #fff;
    width: 14vw;
    transform: translateY($offset-from-top);
    & > div {
        position: absolute;
        text-align: center;
        left: 50%;
        transform-origin: left;
        transform: translateX(.5vw) rotate(90deg);
        display: flex;
        & > p {
            line-height: 0;
            user-select: none;
            font-size: 7vw;
            transform: translateY(50%);
            animation: scrolling-text 24s linear infinite;
        }
    }
}

@media (max-width: 768px) {
    .auto-scroll {
        grid-row: 2/3;
        width: 100vw;
        height: 14vw;
        margin-top: 2rem;
        transform: none;
        & > div {
            transform: none;
            left: 0;
            align-content: center;
            & > p {
                top: 1.75vw;
                position: relative;
                line-height: normal;
            }
        }
    }
}

@keyframes scrolling-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}